<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kenta Ito. It uses data from mapbox.com and darksky.net in order to display the weather in the area you search.</p>
        <img class="portrait" src="/img/kenta.jpg">
    </div>
    {{>footer}} 
</body>

</html>